.separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #303030;
  box-sizing: border-box;
}
.cs2gearshop-2017-2024 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.credit-cardspng-icon {
  height: 24px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.container17 {
  width: 270.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.supportcs2gearshop-16192-coas {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  white-space: pre-wrap;
}
.container14,
.container16,
.container18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container14,
.container16 {
  align-items: flex-end;
  gap: 16px;
  max-width: 100%;
}
.container14 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.separator1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid #303030;
  box-sizing: border-box;
}
.footer,
.storescreenpage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  border-top: 1px solid #252632;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 62px 24px 56px;
  gap: 40px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #9a9a9a;
  font-family: Inter;
}
.storescreenpage {
  width: 100%;
  position: relative;
  background-color: #0c0c0c;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 36px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    gap: 20px;
    padding-top: 26px;
    padding-bottom: 23px;
    box-sizing: border-box;
  }
}
