.fx140f-icon1 {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.phase-2 {
  color: #16b6a1;
}
.fn-phase-2 {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.container194 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-labels1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 63px;
  white-space: nowrap;
}
.container195,
.container196 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container195 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  color: #fafafa;
  font-family: Inter;
}
.add-to-cart {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 150%;
  font-family: Inter;
  color: #fff;
  text-align: left;
  display: inline-block;
  min-width: 78px;
}
.cart-buttons {
  cursor: pointer;
  border: 0;
  padding: 8px 44px;
  background-color: #ca5a2a;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.cart-buttons:hover {
  background-color: #e37345;
}
.container193 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 12px;
  gap: 4px;
}
.x3 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 18px;
}
.margin4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
}
.icon15 {
  height: 13px;
  width: 13.5px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container198,
.container199 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container198 {
  flex-direction: column;
  padding: 2px 0 3px;
}
.background9,
.container197 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container197 {
  width: 34.5px;
  height: 20px;
  margin: 0 !important;
  position: absolute;
  top: 9px;
  right: 7.5px;
  flex-direction: row;
  padding: 0;
  z-index: 1;
  font-size: 14px;
  font-family: Inter;
}
.background9 {
  height: 257px;
  width: 191px;
  border-radius: 4px;
  background-color: #303030;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 9px 0 16px;
  position: relative;
  text-align: left;
  font-size: 12px;
  color: #9a9a9a;
  font-family: "Sofia Sans";
}
