.cancellation-period1,
.cancellation-period2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.cancellation-period2 {
  padding-left: 43px;
}
.cancellation-period1 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 700;
}
.time-period,
.you-may-cancel {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.period-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.beyond-time-period,
.cancellations-made-after {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.period-details1 {
  align-self: stretch;
  gap: 16px;
}
.cancellation-period,
.period-content,
.period-details1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.period-content {
  align-self: stretch;
  gap: 16px;
  font-size: 16px;
  font-family: "Work Sans";
}
.cancellation-period {
  width: 1680px;
  gap: 32px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: rgba(250, 250, 250, 0.8);
  font-family: Archivo;
}
@media screen and (max-width: 900px) {
  .cancellation-period1 {
    font-size: 26px;
    line-height: 31px;
  }
  .cancellation-period {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .cancellation-period1 {
    font-size: 19px;
    line-height: 23px;
  }
}
