.additional-links1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  font-weight: 700;
  font-family: inherit;
}
.container318 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.best-csgo-cases1 {
  position: relative;
  line-height: 22px;
}
.link94 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #fafafa;
}
.fracture-case1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 97px;
}
.link95 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.prisma-2-case1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 99px;
}
.link96 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.recoil-case1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 81px;
}
.container320,
.link97 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container320 {
  flex-direction: column;
  padding: 0 26px 11px 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-glock-18-skins1 {
  position: relative;
  line-height: 22px;
}
.link98 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #fafafa;
}
.glock-18-dragon1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link99 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.glock-18-pink1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link100 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.glock-18-water1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container321,
.link101 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link101 {
  align-self: stretch;
  flex-direction: row;
}
.container321 {
  width: 173px;
  flex-direction: column;
  gap: 12px;
  min-width: 165px;
}
.best-usp-s-skins1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.usp-s-black1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link102 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.usp-s-kill1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link103 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.usp-s-monster1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container322,
.link104 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container322 {
  flex-direction: column;
  padding: 0 0 11px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-awp-skins1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #fafafa;
  min-width: 124px;
}
.awp-dragon1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link105 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.awp-medusa1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 100px;
}
.link106 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.awp-asiimov1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 99px;
}
.container323,
.link107 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container323 {
  flex-direction: column;
  padding: 0 35px 11px 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-m4a4-skins1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.m4a4-howl1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 89px;
}
.link108 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m4a4-assiimov1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 116px;
}
.link109 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m4a4-dragon1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  white-space: nowrap;
}
.container324,
.link110 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container324 {
  flex-direction: column;
  padding: 0 26px 11px 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-m4a1-s-skins1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.m4a1-s-golden1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link111 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m4a1-s-icarus1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link112 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.m4a1-s-hyper1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container325,
.link113 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container325 {
  flex-direction: column;
  padding: 0 13px 11px 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-ak-47-skins1 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.ak-47-fire1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link114 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ak-47-vulcan1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 102px;
}
.link115 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ak-47-case1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container326,
.link116 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container326 {
  flex-direction: column;
  padding: 0 2px 0 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.best-knife-skins1,
.karambit-skins1 {
  position: relative;
  display: inline-block;
}
.best-knife-skins1 {
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
  min-width: 127px;
}
.karambit-skins1 {
  letter-spacing: 0.02em;
  line-height: 150%;
  min-width: 102px;
}
.link117 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.butterfly-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 100px;
}
.link118 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.talon-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 77px;
}
.container327,
.link119 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container327 {
  width: 165px;
  flex-direction: column;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.trade1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.trade-cs2-skins2 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 114px;
}
.link120 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-csgo-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link121 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-rust-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 124px;
}
.link122 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-tf2-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 112px;
}
.link123 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-csgo-knives1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.link124 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.trade-csgo-stickers1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.container328,
.link125 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container328 {
  width: 165px;
  flex-direction: column;
  padding: 0 0 8px;
  box-sizing: border-box;
  gap: 12px;
  min-width: 165px;
}
.buy1 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.buy-cs2-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 100px;
}
.link126 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buy-csgo-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 117px;
}
.link127 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buy-rust-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 110px;
}
.link128 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buy-tf2-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 98px;
}
.container329,
.link129 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container329 {
  width: 165px;
  flex-direction: column;
  gap: 12px;
  min-width: 165px;
}
.sell4 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}
.sell-cs2-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 99px;
}
.link130 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sell-csgo-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 116px;
}
.link131 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sell-rust-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 109px;
}
.link132 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sell-tf2-skins1 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 97px;
}
.link133 {
  flex-direction: row;
}
.container319,
.container330,
.link133 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container330 {
  width: 165px;
  flex-direction: column;
  gap: 12px;
  min-width: 165px;
}
.container319 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 115px 0 0;
  box-sizing: border-box;
  gap: 32px;
  min-height: 414px;
  font-size: 14px;
  color: #9a9a9a;
  font-family: Inter;
}
.svg-icon2,
.svg-icon3 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.svg-icon3 {
  z-index: 1;
}
.button-open-intercom-messeng1 {
  width: 48px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  right: -4px;
  bottom: 64px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  background-color: #615dfc;
  z-index: 1;
}
.container317 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 32px;
  text-align: left;
  font-size: 20px;
  color: #fafafa;
  font-family: "Sofia Sans";
}
@media screen and (max-width: 1200px) {
  .container319 {
    padding-right: 57px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .container319 {
    gap: 16px;
    padding-right: 28px;
    box-sizing: border-box;
  }
  .container317 {
    gap: 16px;
  }
}
@media screen and (max-width: 450px) {
  .additional-links1 {
    font-size: 16px;
    line-height: 22px;
  }
}
