.additional-information {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.container81 {
  width: 1680px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0;
  box-sizing: border-box;
}
.container81,
.heading,
.heading-wrapper {
  display: flex;
  max-width: 100%;
}
.heading {
  margin: 0;
  width: 590px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.heading-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.to-start-trading {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.browse-the-available,
.log-in-using,
.select-the-items {
  margin-bottom: 0;
}
.log-in-using-your-steam-accoun {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.ensure-your-steam,
.log-in-using-container {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.ensure-your-steam {
  line-height: 22px;
}
.container83,
.to-start-trading-cs2-skins-on-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.to-start-trading-cs2-skins-on-parent {
  font-size: 16px;
  color: #9a9a9a;
}
.container83 {
  max-width: 100%;
}
.heading1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.information-headers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.on-cs2gearshop-you {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.container84,
.information-descriptions {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.information-descriptions {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container84 {
  flex-direction: column;
  gap: 4px;
}
.heading2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.yescs2gearshop-ensures-the {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container85,
.yescs2gearshop-ensures-the-sa-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.yescs2gearshop-ensures-the-sa-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container85 {
  flex-direction: column;
  gap: 4px;
}
.heading3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-your-cs2 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container86,
.if-your-cs2-trade-is-not-compl-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-your-cs2-trade-is-not-compl-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container86 {
  flex-direction: column;
  gap: 4px;
}
.heading4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container87,
.cs2gearshop-charges-a-commissi-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container87 {
  flex-direction: column;
  gap: 4px;
}
.heading5 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a1 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container88,
.cs2gearshop-charges-a-commissi-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-container {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container88 {
  flex-direction: column;
  gap: 4px;
}
.heading6 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a2 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container89,
.cs2gearshop-charges-a-commissi-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-frame {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container89 {
  flex-direction: column;
  gap: 4px;
}
.heading7 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a3 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container90,
.cs2gearshop-charges-a-commissi-wrapper1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-wrapper1 {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container90 {
  flex-direction: column;
  gap: 4px;
}
.heading8 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2-trades-on {
  margin: 0;
}
.check-your-cs2gearshop,
.ensure-you-have {
  margin-bottom: 0;
}
.check-your-cs2gearshop-account {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.cs2-trades-on-container {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container91,
.cs2-trades-on-cs2gearshop-are-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2-trades-on-cs2gearshop-are-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container91 {
  flex-direction: column;
  gap: 4px;
}
.heading9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.heading-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a4 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container82,
.container92,
.cs2gearshop-charges-a-commissi-wrapper2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-wrapper2 {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container82,
.container92 {
  flex-direction: column;
  gap: 4px;
}
.container82 {
  border-radius: 8px;
  padding: 0;
  box-sizing: border-box;
  gap: 16px;
}
.faqs,
.heading10 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.faqs {
  color: rgba(250, 250, 250, 0.8);
  min-width: 62px;
}
.heading10 {
  flex: 1;
  max-width: 100%;
}
.f-a-q-headers {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.to-start-trading1 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container94,
.f-a-q-answers {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.f-a-q-answers {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container94 {
  flex-direction: column;
  gap: 4px;
}
.heading11 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.on-cs2gearshop-you1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.container95,
.on-cs2gearshop-you-can-trade-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.on-cs2gearshop-you-can-trade-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container95 {
  flex-direction: column;
  gap: 4px;
}
.heading12 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.yes-cs2gearshop-ensures {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container96,
.yes-cs2gearshop-ensures-the-s-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.yes-cs2gearshop-ensures-the-s-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container96 {
  flex-direction: column;
  gap: 4px;
}
.heading13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.heading-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-your-cs21 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container97,
.if-your-cs2-trade-is-not-compl-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-your-cs2-trade-is-not-compl-container {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container97 {
  flex-direction: column;
  gap: 4px;
}
.heading14 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a5 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container98,
.cs2gearshop-charges-a-commissi-wrapper3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2gearshop-charges-a-commissi-wrapper3 {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container98 {
  flex-direction: column;
  gap: 4px;
}
.heading15 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.heading-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.before-confirming-a {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.before-confirming-a-trade-car-wrapper,
.container99 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.before-confirming-a-trade-car-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container99 {
  flex-direction: column;
  gap: 4px;
}
.heading16 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.heading-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-you-encounter {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container100,
.if-you-encounter-any-issues-wi-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.if-you-encounter-any-issues-wi-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container100 {
  flex-direction: column;
  gap: 4px;
}
.heading17 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
}
.heading-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.once-a-trade {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
}
.container101,
.once-a-trade-has-been-initiate-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.once-a-trade-has-been-initiate-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container101 {
  flex-direction: column;
  gap: 4px;
}
.heading18 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.to-subscribe-to {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.container102,
.to-subscribe-to-the-prime-memb-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.to-subscribe-to-the-prime-memb-wrapper {
  flex-direction: row;
  font-size: 16px;
  color: #9a9a9a;
}
.container102 {
  flex-direction: column;
  gap: 4px;
}
.heading19 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cs2-trades-on1 {
  flex: 1;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.cs2-trades-on-cs2gearshop-are-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: 16px;
  color: #9a9a9a;
}
.container103 {
  align-self: stretch;
  align-items: flex-start;
  gap: 4px;
}
.background6,
.container103,
.container80,
.container93 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.container93 {
  align-self: stretch;
  border-radius: 8px;
  align-items: flex-start;
  gap: 16px;
}
.background6,
.container80 {
  box-sizing: border-box;
}
.background6 {
  width: 1680px;
  border-radius: 4px;
  background-color: #181818;
  align-items: flex-start;
  padding: 64px 48px 63.9px;
  gap: 32px;
  font-size: 24px;
}
.container80 {
  align-self: stretch;
  align-items: center;
  padding: 0 20px 32px;
  flex-shrink: 0;
  z-index: 1;
  margin-top: -0.1px;
  text-align: left;
  font-size: 32px;
  color: #fafafa;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .background6 {
    padding: 20.1px 24px 27px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .additional-information {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .background6 {
    gap: 16px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .additional-information,
  .faqs,
  .heading,
  .heading1,
  .heading10,
  .heading11,
  .heading12,
  .heading13,
  .heading14,
  .heading15,
  .heading16,
  .heading17,
  .heading18,
  .heading19,
  .heading2,
  .heading3,
  .heading4,
  .heading5,
  .heading6,
  .heading7,
  .heading8,
  .heading9 {
    font-size: 19px;
    line-height: 23px;
  }
}
