.add-voucher2 {
  font-size: 0;
  text-decoration: underline;
}
.get-100-off-container2 {
  position: relative;
  line-height: 28px;
  white-space: nowrap;
}
.ticker2 {
  align-self: stretch;
  background-color: #2e2cac;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 14px 20px 8px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Inter;
}
.cs2gearshop-transparent-1-icon3 {
  height: 45px;
  width: 171px;
  position: relative;
  object-fit: cover;
}
.link64 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9.5px 7px;
  box-sizing: border-box;
  min-width: 186px;
}
.store2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
}
.link65 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 21px 24px;
}
.sell3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 28px;
}
.link66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 21px 24px;
}
.giveaway2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.container64,
.link67 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link67 {
  padding: 21px 24px;
}
.container64 {
  max-width: 650px;
}
.icon6 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container67 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button5,
.container66 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button5 {
  border-radius: 4px;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
  min-width: 40px;
  max-width: 599.88px;
}
.container68 {
  margin: 0;
  width: 16px;
  height: 16px;
}
.button-menu2 {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  min-width: 40px;
  max-width: 599.88px;
}
.ussvg-icon2 {
  height: 18px;
  width: 18px;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  flex-shrink: 0;
}
.container71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 4px 8px 0;
}
.icon7 {
  height: 14px;
  width: 12.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container70,
.container72,
.container73 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container70,
.container72 {
  flex-direction: column;
}
.container72 {
  margin: 0 !important;
  position: absolute;
  width: 26.74%;
  top: 6px;
  right: -0.22%;
  left: 73.48%;
  padding: 4px 0 6px;
  box-sizing: border-box;
}
.container70 {
  padding: 0 16px 0 8px;
  position: relative;
}
.usd1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 30px;
}
.container75 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 4px 8px 0;
}
.icon8 {
  height: 14px;
  width: 12.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.container77 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container76 {
  margin: 0 !important;
  position: absolute;
  width: 21.32%;
  top: 9px;
  right: 0;
  left: 78.68%;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0 6px;
  box-sizing: border-box;
}
.container69,
.container74,
.container76 {
  display: flex;
  justify-content: flex-start;
}
.container74 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 8px;
  position: relative;
}
.container69 {
  width: 119.7px;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.container80,
.margin3,
.symbol7 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
}
.symbol7 {
  width: 16px;
  position: relative;
  line-height: 16px;
  text-transform: capitalize;
}
.container80,
.margin3 {
  flex-direction: row;
}
.margin3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  box-sizing: border-box;
  min-width: 24px;
}
.log-in-with2 {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  font-family: Inter;
  min-width: 125px;
  white-space: nowrap;
}
.container79 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 1.3px;
}
.button6,
.container65,
.container78 {
  flex: 1;
  display: flex;
  align-items: center;
}
.button6 {
  border-radius: 4px;
  background-color: #ca5a2a;
  flex-direction: column;
  justify-content: center;
  padding: 9.3px 16px 9.7px;
  box-sizing: border-box;
  min-width: 123px;
  max-width: 167.55px;
}
.container65,
.container78 {
  flex-direction: row;
}
.container78 {
  justify-content: flex-start;
  text-align: center;
  color: rgba(250, 250, 250, 0.8);
  font-family: "Font Awesome 5 Brands";
}
.container65 {
  justify-content: flex-end;
  padding: 0 0 0 813px;
  box-sizing: border-box;
  gap: 8px;
  max-width: 100%;
  font-family: "Sofia Sans";
}
.header-desktop2,
.header2,
.overlayblur2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.overlayblur2 {
  backdrop-filter: blur(4px);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
}
.header-desktop2,
.header2 {
  flex-direction: column;
  align-items: flex-start;
}
.header2 {
  background-color: #0c0c0c;
  overflow: hidden;
  padding: 0 120px;
  box-sizing: border-box;
}
.header-desktop2 {
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 16px;
  color: #9a9a9a;
  font-family: Inter;
}
@media screen and (max-width: 1625px) {
  .log-in-with2 {
    display: none;
  }
}
@media screen and (max-width: 1275px) {
  .container65,
  .header2 {
    padding-left: 406px;
    box-sizing: border-box;
  }
  .header2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 900px) {
  .button-menu2,
  .button5,
  .container64 {
    max-width: 100%;
  }
  .container65,
  .header2 {
    padding-left: 203px;
    box-sizing: border-box;
  }
  .header2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 450px) {
  .container65 {
    padding-left: 20px;
    box-sizing: border-box;
  }
}
